@import "tailwindcss";
@source "../views/**/*.php";
@source "../public/**/*.php";

@theme {
    --font-koho: "KoHo", sans-serif;
    --tracking-koho: -0.08em;
    --color-mmRed: #B60000;
    --color-inputGrey: #6C6C6C;
    --color-btn-fill-default: #BD0000;
    --color-btn-fill-hover: #D60000;
    --font-inter: "Inter", sans-serif;  
    --color-avatar-stroke: #2D582E;
    --color-light-grey: #444444;
}